
# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.production

# =========================
# Build Outputs
# =========================
dist/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/
.vscode/settings.json

# =========================
# Coverage
# =========================
coverage/

# =========================
# Cache
# =========================
.cache/